header{position:absolute;top:0px;left:0px;height:70px;border-bottom:4px solid black;width:100%;
  background-color:cyan;text-align:center;line-height:70px;font-size: 2em;}
.sidebar{position: relative;width:30%;height:60vh;margin:20px;border:2px solid black;background-color: aliceblue;margin-top:90px; }
.buttons{width:60%;margin-left:20%;background-color:silver;border:1px solid black;cursor:pointer;height:50px;line-height:50px;
margin-top:10px;font-size:1.2em;font-weight:bold}
footer{position:absolute;bottom:0px;width:100%;height:70px;border-top:4px solid black;background-color:cyan;text-align:center;line-height:70px;font-size: 2em;}
